.actionBar {
    display: none;
    margin: 0 0 spacing("half");
    @include breakpoint("medium") {
        margin-bottom: spacing("single");
        display: flex;
    }
}

.actionBar-section {
    float: none;
    flex: 0 0 auto;

    &:last-child {
        flex: 1;
    }

    .form-field {
        background-color: transparent;
        text-align: right;
        border: 0;
        overflow: hidden;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .form-field--grid-list {
        display: flex;
        align-items: center;
        float: right;
        .form-label {
            display: block;
        }
    }

    .form-label {
        font-size: fontSize("base") * 11/14;
        font-weight: fontWeight("bold");
        text-transform: uppercase;
        padding-left: 0;

        @include breakpoint("small") {
            font-size: fontSize("base") * 13/14;
        }
        
        &:last-child {
            margin-right: 0;
        }
    }

    .form-label--number {
        border: 1px solid currentColor;
        border-radius: $global-radius;
        line-height: 1;
        padding: spacing("quarter") spacing("third");
    }

    .form-input {
        box-shadow: none;
    }

    .form-select {
        font-size: fontSize("base") * 11/14;
        color: $color-textSecondary;
        font-weight: fontWeight("medium");
        text-transform: uppercase;
        box-shadow: none;
        border: container("border");
        padding: spacing("third") spacing("single") + spacing("third") spacing("third") spacing("third");
        
        @media (max-width: screenSize("small") - 1px) {
            padding-right: 0;
            background-position: right 0 top 0.5rem;
        }
        
        @include breakpoint("small") {
            font-size: fontSize("base") * 13/14;
            color: $color-textBase;
        }
    }
}
